doctype html
html(class="no-js", lang="en")

    include ../components/head/head

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        include ../components/header/header.pug

        include ../components/indexContent/indexContent.pug

        

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        script(src='%=static=%js/separate-js/jquery-3.2.1.min.js')
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        // <script type="text/javascript" src="%=static=%js/separate-js/slick.min.js"></script>
        script(src='%=static=%js/main%=hash=%%=min=%.js')

