doctype html
html(class="no-js", lang="en")

    include ../components/head/head

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        -
            var meetUsSliderContent = [
                {
                    content: { 
                        lead: 'Meet us',
                        text: 'Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit.',
                        btn: '<a class="textSlider__btn  textSlider__btn-fitIn  btn" href="#">Do i fit in?<i class="fas fa-arrow-right"></i></a>'
                    },
                    img: 'static/img/content/meetUsSlider__img.jpg'
                }
            ]
        include ../components/header/header.pug
        +header(meetUsSliderContent)

        include ../components/meetUsContent/meetUsContent.pug

        include ../components/footer/footer.pug

        include ../components/popups/popups.pug
        +popups("video")

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        script(src='%=static=%js/separate-js/jquery-3.2.1.min.js')
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        script(src='%=static=%js/main%=hash=%%=min=%.js')
