@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Panton";
    src: url("../fonts/Panton/Panton-Regular.woff");
}

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "Panton";
    src: url("../fonts/Panton/Panton-SemiBold.woff");
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Panton";
    src: url("../fonts/Panton/Panton-Bold.woff");
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: #{$default-font-size}px;
}
body {
    font-family: "Panton", sans-serif;
    font-size: 14px;

    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.-content- {
    flex-grow: 1;
}
img {
    max-width: 100%;
}
*:focus {
    outline: none;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}

.page {
    padding: 100px 0 0;

    @media (min-width: $grid-sl) {
        padding: 0 0 0 150px;
    }
}

.btn {
    display: inline-block;

    padding: 13px;
    border: none;

    font: 700 14px/1.8 "Panton", sans-serif;
    color: $white;
    letter-spacing: 1px;
    
    background-color: $red;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;

    &:hover,
    &:active {
        opacity: .6;
    }
}

.link {
    display: flex;
    align-items: center;

    font: 700 14px/1.6 "Panton", sans-serif;
    color: $red;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

    transition: .3s;

    &:hover,
    &:active {
        opacity: .3;
    }

    i {
        margin-left: 8px;

        font-size: 0.7em;
    }
}

.sectionHeading {
    margin: 0;
    padding-left: 30px;

    position: relative;

    font: 700 24px/1.6 "Panton", sans-serif;
    text-transform: uppercase;
    color: $lightgrey;
    letter-spacing: 1px;

    &::before {
        content: "";
        display: block;

        width: 17px;
        height: 3px;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        background-color: $lightgrey;

        @media (min-width: $grid-sl) {
            width: 80px;
        }
    }

    @media (min-width: $grid-sl) {
        padding-left: 100px;
    }
}