$default-font-size: 16;

$grid-lm: 1140px;
$grid-ls: 960px;
$grid-sl: 768px;
$grid-sm: 480px;
$grid-s: 320px;

$white: #ffffff;
$red: #e5002e;
$lightgrey: #e0e0e0;
$lightgrey-2: #f5f7fa;
$darkgrey: #333333;
$black: #000000;