section.headerMenu
    a.headerMenu__link(href="#")
        img.headerMenu__logo(src="static/img/content/header__logo.png", alt="")
    div.headerMenu__btnWrap
        button.headerMenu__btn.headerMenu__btn-open
        button.headerMenu__btn.headerMenu__btn-close.headerMenu__btn-jsHide
    a.headerMenu__btnJoin.btn(href="#") Join us
    p.headerMenu__socials.socials.socials-jsHide
        a.socials__btn.socials__btn-fb(href="#") <i class="fab fa-facebook-f"></i>facebook
        a.socials__btn.socials__btn-inst(href="#") <i class="fab fa-instagram"></i>instagram
        a.socials__btn.socials__btn-twi(href="#") <i class="fab fa-twitter"></i>twitter
        a.socials__btn.socials__btn-ln(href="#") <i class="fab fa-linkedin-in"></i>linkedin
    nav.headerMenu__wrap.headerMenu__wrap-jsHide
        ul.headerMenu__list.headerNav
            li.headerNav__item
                span.headerNav__num 01
                a.headerNav__itemLink(href="index.html") Home
            li.headerNav__item
                span.headerNav__num 02
                a.headerNav__itemLink(href="#") The building
            li.headerNav__item
                span.headerNav__num 03
                a.headerNav__itemLink(href="meet-us.html") Meet us
            li.headerNav__item
                span.headerNav__num 04
                a.headerNav__itemLink(href="blog.html") Blog
            li.headerNav__item
                span.headerNav__num 05
                a.headerNav__itemLink(href="contact.html") Contact
