.headerMenu {
    padding: 40px 0 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    background-color: $white;

    font: 400 14px "Panton", sans-serif;

    @media (min-width: $grid-sl) {
        flex-direction: column;

        width: 150px;

        top: 0;
        bottom: 0;
        left: 0;
    }
}

.headerMenu__link {
    width: 84px;
    height: 53px;

    transition: .3s;

    &:hover,
    &:active {
        opacity: .7;
    }
}

.headerMenu__btn {
    padding: 0;
    border: none;

    transition: .3s;

    &:hover,
    &:active {
        opacity: .3;
    }

    &-open {
        width: 38px;
        height: 20px;

        position: relative;

        background-color: transparent;
        box-shadow: 0 -4px 0px -2px $darkgrey;

        &::before {
            content: "";
            display: block;
            height: 2px;

            position: absolute;
            top: 50%;
            right: 2px;
            left: 2px;
            transform: translateY(-100%);

            background-color: $darkgrey;
        }

        &::after {
            content: "";
            display: block;
            width: 50%;
            height: 2px;

            position: absolute;
            bottom: 0px;
            left: 2px;

            background-color: $darkgrey;
        }
    }

    &-close {
        display: none;
    }
}

.socials__btn {
    font-size: 0;

    &:hover,
    &:active {
        .fab {
            color: $darkgrey;
        }
    }

    @media (min-width: $grid-sl) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.socials {
    display: none;
    align-items: center;

    .fab {
        font-size: 24px;
        color: $lightgrey;
        
        transition: .3s;
    }

    @media (min-width: $grid-sl) {
        display: flex;
        flex-direction: column;
    }
}

.headerMenu__wrap {
    display: none;
}