.headerMenu {
    height: 100px;
    padding: 0 24px;

    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;

    background-color: $white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);

    font: 400 14px "Panton", sans-serif;

    @media (min-width: $grid-sl) {
        justify-content: space-between;
        flex-direction: column;

        width: 150px;
        height: auto;
        padding: 40px 0 60px;

        top: 0;
        bottom: 0;
        left: 0;

        box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.08);
    }
}

.headerMenu__link {
    width: 84px;
    height: 53px;

    transition: .3s;

    &:hover,
    &:active {
        opacity: .7;
    }
}

.headerMenu__btnWrap {
    width: 38px;
    height: 32px;
    margin: 0 22px 0 0;

    order: -1;

    @media (min-width: $grid-sl) {
        margin: 0;

        order: 0;
    }
}

.headerMenu__btn {
    padding: 0;
    border: none;

    position: relative;

    background-color: transparent;
    transition: .3s;

    &:hover,
    &:active {
        opacity: .3;
    }

    &-jsHide {
        display: none;
    }

    &-open {
        width: 38px;
        height: 24px;
        margin-top: 6px;

        box-shadow: 0 -4px 0px -2px $darkgrey;

        &::before {
            content: "";
            display: block;
            height: 2px;

            position: absolute;
            top: 50%;
            right: 2px;
            left: 2px;
            transform: translateY(-100%);

            background-color: $darkgrey;
        }

        &::after {
            content: "";
            display: block;
            width: 50%;
            height: 2px;

            position: absolute;
            bottom: 0px;
            left: 2px;

            background-color: $darkgrey;
        }
    }

    &-close {
        width: 32px;
        height: 32px;

        &::before {
            content: "";
            display: block;

            width: 45px;
            height: 2px;

            position: absolute;
            left: -5px;
            transform: rotate(45deg);

            background-color: $darkgrey;
        }

        &::after {
            content: "";
            display: block;

            width: 45px;
            height: 2px;

            position: absolute;
            left: -5px;
            transform: rotate(-45deg);

            background-color: $darkgrey;
        }
    }
}

.headerMenu__btnJoin {
    width: 116px;
    margin-left: auto;

    text-align: center;

    @media (min-width: $grid-sl) {
        display: none;
    }
}

.socials__btn {
    font-size: 0;

    &:hover,
    &:active {
        .fab {
            color: $darkgrey;
        }
    }

    @media (min-width: $grid-sl) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.socials {
    height: 100px;
    margin: 0;
    padding: 36px 34px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $white;

    .fab {
        font-size: 24px;
        color: $lightgrey;
        
        transition: .3s;
    }

    @media (min-width: $grid-sl) {
        flex-direction: column;
        justify-content: flex-start;

        height: auto;
        padding: 0;

        position: static;

        background-color: transparent;
    }

    &-jsHide {
        @media (max-width: ($grid-sl - 1)) {
            display: none;
        }
    }
}

.headerMenu__wrap {
    display: block;
    padding: 0 0 0 24px;
    border-top: 1px solid $lightgrey;

    position: fixed;
    top: 100px;
    right: 0;
    bottom: 100px;
    left: 0;

    background-color: $white;

    @media (min-width: $grid-sl) {
        padding: 0 0 0 160px;
        border-top: none;
        border-left: 1px solid $lightgrey;

        top: 0;
        bottom: 0;
        left: 150px;
    }

    &-jsHide {
        display: none;
    }
}

.headerNav {
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    font: 700 24px/1.6 "Panton", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;

    list-style: none;
    overflow-y: auto;
}

.headerNav__item {
    position: relative;

    &:first-child {
        margin-top: auto;
    }

    &:last-child {
        margin-bottom: auto;
    }

    &:not(:last-child) {
        margin-bottom: 25px;

        @media (min-width: $grid-sl) {
            margin-bottom: 35px;
        }
    }
}

.headerNav__num {
    margin-right: 22%;

    color: $lightgrey;
    
    @media (min-width: $grid-sl) {
        margin-right: 15%;
    }

    &::after {
        content: "";
        display: block;
        width: 32px;
        height: 3px;

        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateY(-50%);

        background-color: $red;

        @media (min-width: $grid-sl) {
            width: 45px;

            left: 8.5%;
        }

        @media (min-width: $grid-lm) {
            width: 84px;

            left: 6.5%;
        }
    }
}

.headerNav__itemLink {
    font: inherit;
    color: $darkgrey;
    text-decoration: none;

    transition: .3s;

    &:hover,
    &:active {
        color: $red;
    }
}