section.matchSection
    .matchSection__inner
        .matchSection__textWrap
            h2.matchSection__heading.sectionHeading
                | it's a match!
            b.matchSection__lead
                | Find out if your Business meets our creative criteria!
            p.matchSection__text
                span
                    | 36Squared welcomes “Partners” whose business or activities are not disruptive to other “Partners” in the building.  Generally, that means if your business involves loud music, sawing, chemicals, machinery, pounding, flamethrowers, elephants, dunk tanks (water spilling*), you’re not going to make a good neighbor.
                span    
                    | 36Squared is a community focused on small businesses.  A building full of entrepreneurs, dreamers, and doers: 
                span    
                    | Do your ambitions fit in?
            a.matchSection__btn.btn(href="#")
                | do I fit in?
                span
                    | →
        .matchSection__imgWrap
            img.matchSection__img(src="static/img/content/matchSection__img.jpg", alt="")