.footerContacts.footer__contacts
    .footerContacts__inner
        p.footerContacts__contacts
            | Address: 3636&nbsp;South&nbsp;Iron&nbsp;Street,
            br
            | Chicago&nbsp;IL&nbsp;60609
            br
            | Phone: (312)&nbsp;933-6556
        p.footerContacts__copyrights
            span
                | © 2018 36 Squared, Inc. All Rights Reserved.
                br
            span
                | Design by 
                a.footerContacts__copyLink(href="")
                    | Comrade Web Agency