section.descrSection
    .descrSection__inner
        .descrSection__navSlider.navSlider
            .navSlider__controls
                button.navSlider__btn.navSlider__btn-prev
                button.navSlider__btn.navSlider__btn-next
            .navSlider__slider
                .navSlider__item
                    span.navSlider__text
                        | who we are
                .navSlider__item
                    span.navSlider__text
                        | where we are
                .navSlider__item
                    span.navSlider__text
                        | our companies
        .descrSection__weSlider.weSlider
            .weSlider__item
                img.weSlider__img(src="static/img/content/descrSection__img-1.jpg", alt="")
                p.weSlider__textWrap
                    b.weSlider__lead
                        | Who is the 36 Squared Community?
                    span.weSlider__text
                        | Only 4 miles from downtown, we’re conveniently located in the heart of the developing Bridgeport and McKinley Park neighborhoods.
                    span.weSlider__text
                        | The rediscovered Central Manufacturing District is gaining traction and is already home to a number of growing and thriving businesses including Marz Community Brewing, T2 Cabinetry, Zap Props, MarketSquare and many others.
                    a.weSlider__link.link(href="#")
                        | read our blog
                        span →
            .weSlider__item
                img.weSlider__img(src="static/img/content/descrSection__img-2.jpg", alt="")
                p.weSlider__textWrap
                    b.weSlider__lead
                        | Where we are?
                    span.weSlider__text
                        | Only 4 miles from downtown, we’re conveniently located in the heart of the developing Bridgeport and McKinley Park neighborhoods.
                    span.weSlider__text
                        | The rediscovered Central Manufacturing District is gaining traction and is already home to a number of growing and thriving businesses including Marz Community Brewing, T2 Cabinetry, Zap Props, MarketSquare and many others.
                    a.weSlider__link.link(href="#")
                        | view on google maps
                        span →
            .weSlider__item
                img.weSlider__img(src="static/img/content/descrSection__img-3.jpg", alt="")
                p.weSlider__textWrap
                    b.weSlider__lead
                        | Who is the 36 Squared Community?
                    span.weSlider__text
                        | Only 4 miles from downtown, we’re conveniently located in the heart of the developing Bridgeport and McKinley Park neighborhoods.
                    span.weSlider__text
                        | The rediscovered Central Manufacturing District is gaining traction and is already home to a number of growing and thriving businesses including Marz Community Brewing, T2 Cabinetry, Zap Props, MarketSquare and many others.
                    a.weSlider__link.link(href="#")
                        | read our blog
                        span →