section.schedulePageSection
    .schedulePageSection__inner
        b.schedulePageSection__lead
            | Schedule your appointment
        form.schedulePageSection__form(action="", method="post")
            input.schedulePageSection__input.input(type="email", placeholder="Enter your email")
            button.schedulePageSection__button.link(type="submit")
                | schedule 
                span →
