.featBlogsSection {
    font: 400 14px/ 1.8 "Panton", sans-serif;
    color: rgba($darkgrey, .7);
    letter-spacing: 0.2px;
}

.featBlogsSection__inner {
    padding: 40px 30px;

    @media (min-width: $grid-sl) {
        padding: 80px 100px;
    }

    @media (min-width: $grid-lm) {
        max-width: 1440px;
        margin: 0 auto;
    }
}

.featBlogsSection__heading {
    margin: 0 0 30px -30px;

    @media (min-width: $grid-sl) {
        margin: 0 0 30px -100px;
    }
}

.featBlogsSection__list {
    margin: 0;
    padding: 0;

    list-style: none;

    @media (min-width: $grid-sl) {
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: $grid-lm) {
        justify-content: space-between;
    }
}

.featBlogsSection__item {
    width: 100%;

    &:not(:last-child) {
        margin: 0 0 50px;
    }

    &-row {
        @media (min-width: $grid-lm) {
            width: 66%;

            display: flex;
            justify-content: space-between;

            & > div {
                width: 48%;
                max-width: 390px;
                margin: 0;
    
                order: 0;
            }
        }
    }

    &-solo {
        padding: 30px 0 0;

        background-color: $darkgrey-2;

        @media (min-width: $grid-sl) {
            width: 100%;

            order: -1;
        }

        @media (min-width: $grid-lm) {
            width: 32%;
            max-width: 390px;

            order: 0;
        }
    }

    @media (min-width: $grid-ls) {
        &:not(&-solo) {
            display: flex;
            justify-content: space-between;
        }
    }

    @media (min-width: $grid-lm) {
        margin: 0 0 50px;

        &:not(&-row) {
            width: 32%;
            max-width: 390px;

            flex-direction: column;
        }

        &-row {
            width: 66%;
        }
    }
}

.featBlogsSection__itemImgWrap {
    width: 100%;
    max-height: 300px;

    overflow-y: hidden;

    @media (min-width: $grid-ls) {
        width: 48%;
    }

    @media (min-width: $grid-lm) {
        width: 100%;
        margin: 0 0 20px;
    }
}

.featBlogsSection__itemImg {
    width: 100%;
}

.featBlogsSection__itemTextWrap {
    &:hover {
        & .featBlogsSection__itemLink {
            color: $red;
        }
    }

    &:not(:first-child) {
        margin: 25px 0 0;

        @media (min-width: $grid-ls) {
            margin: 0;
        }
    }

    &:not(:last-child) {
        @media (min-width: $grid-lm) {
            margin: 0 0 20px;
        }
    }

    & + .featBlogsSection__itemTextWrap {
        margin: 50px 0 0;

        @media (min-width: $grid-ls) {
            margin: 0;
        }
    }

    @media (min-width: $grid-ls) {
        width: 48%;
    }

    @media (min-width: $grid-lm) {
        width: 100%;
    }
}

.featBlogsSection__itemTime {
    font: 700 14px/1.2 "Panton", sans-serif;
    color: rgba($darkgrey, .3);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.featBlogsSection__rowItemHeading {
    margin: 20px 0 10px;

    font: 700 24px/1.3 "Panton", sans-serif;
    color: rgba($darkgrey, .3);
    letter-spacing: 0.3px;
}

.featBlogsSection__itemHeading {
    font: 700 18px/1.5 "Panton", sans-serif;
    color: $darkgrey;
    letter-spacing: 0.2px;
}

.featBlogsSection__itemText {
    margin: 10px 0 15px;
}

.featBlogsSection__itemLink {
    color: rgba($darkgrey, .5);
}

.featBlogsSection__persons {
    margin: 30px 0;

    display: flex;
    justify-content: center;
}

.featBlogsSection__itemLead {
    display: block;

    font: 700 24px/1.3 "Panton", sans-serif;
    color: $white;
    letter-spacing: 0.45px;
    text-align: center;
}

.featBlogsSection__person {
    &:not(:last-child) {
        margin: 0 8% 0 0;
    }
}

.featBlogsSection__personName {
    margin: 15px 0 0;

    font: 700 16px/1.6 "Panton", sans-serif;
    color: rgba($white, .5);
    text-align: center;
}

.featBlogsSection__personImgWrap {
    width: 99px;
    height: 99px;

    border-radius: 50%;
    overflow: hidden;
}

.featBlogsSection__itemBtn {
    width: 100%;
    padding: 13px 0;

    text-align: center;
}

.featBlogsSection__btn {
    margin: 50px 0 0;
    padding: 15px 40px;

    @media (min-width: $grid-lm) {
        margin: 20px 0 0;
    }
}