section.featuresPopupSection.featuresPopupSection-jsHide
    .featuresPopupSection__textWrap
        b.featuresPopupSection__heading
            | 36squared is a community within a building
        p.featuresPopupSection__text
            span 36Squared welcomes “Partners” whose business or activities are not disruptive to other “Partners” in the building.  Generally, that means if your business involves loud music, sawing, chemicals, machinery, pounding, flamethrowers, elephants, dunk tanks (water spilling*), you’re not going to make a good neighbor.  
            span 36Squared is a community focused on small businesses. 
            span A building full of entrepreneurs, dreamers, and doers:
        b.featuresPopupSection__lead
            | Do your ambitions fit in?
        a.featuresPopupSection__btn.btn(href="#")
            | How about me?
    .featuresPopupSection__listWrap

        - var featuresList__array = ["Business to Business  (B2B) Services", "Professional Offices", "Start-up Ventures", "Digital Web Services", "Construction or Trades", "Limited Retail Operations", "Light Industrial / Manufacturing", "Light Product / Package Assembly", "Food Preparation", "Storage Space", "Showrooms for contractors or Fashion / Design"]

        mixin featuresItem(num, text)
            - num += 1
            - if (num < 10) num = "0" + num
            li.featuresPopupSection__item
                span.featuresPopupSection__itemNum
                    =num
                span.featuresPopupSection__itemText
                    =text

        ul.featuresPopupSection__list
            each val, index in featuresList__array
                +featuresItem(index, val)