main.indexContent#main
    include ../introSection/introSection.pug

    include ../spacesSection/spacesSection.pug

    include ../descrSection/descrSection.pug

    include ../scheduleSection/scheduleSection.pug

    include ../matchSection/matchSection.pug
    
    include ../contactForm/contactForm.pug