main.meetUsContent#main
    include ../meetUsMatchSection/meetUsMatchSection.pug

    include ../partnersSection/partnersSection.pug

    include ../squadGalSection/squadGalSection.pug

    

    include ../schedulePageSection/schedulePageSection.pug