section.introSection
    .introSection__inner
        .introSection__textWrap
            h2.introSection__heading.sectionHeading
                | intro
            p.introSection__text
                b.introSection__lead 
                    | Your office space near Bridgeport and McKinley Park
                span.introSection__par 
                    | Our classic brick and timber structure inspires small businesses, entrepreneurs, and artisans alike. We cater to local start-ups and have an in-house incubator to help as you grow. Your success is our success!
                span.introSection__par
                    | Our tenants are more than renters. You are our partners in the 36Squared community.
                a.introSection__link.link(href="#")
                    | meet us <i class="fas fa-arrow-right"></i>
        .introSection__sliderWrap.introSlider
            .introSlider__slider
                .introSlider__slide
                    img.introSlider__img(src="static/img/content/introSlider__img.jpg", alt="")
                .introSlider__slide
                    img.introSlider__img(src="static/img/content/introSlider__img.jpg", alt="")
                .introSlider__slide
                    img.introSlider__img(src="static/img/content/introSlider__img.jpg", alt="")
            .introSlider__controlsWrap
                button.introSlider__control.introSlider__control-prev
                button.introSlider__control.introSlider__control-next