.welcomeSlider {
    position: relative;
    z-index: 10;

    font: 600 16px/1.4 "Panton", sans-serif;
    color: $white;
    letter-spacing: 0.2px;

    @media (min-width: $grid-sl) {
        height: 100vh;
    }
}

.welcomeSlider__head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    position: absolute;
    top: 30px;
    left: 25px;
    z-index: 11;

    font: 600 14px/1.8 "Panton", sans-serif;

    @media (min-width: $grid-sl) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;

        padding-right: 140px;

        top: 50px;
        right: 100px;
        left: 100px;
    }
}

.welcomeSlider__lead {
    margin-left: 7px;
    padding-right: 20px;

    font: 600 18px/1.4 "Panton", sans-serif;

    opacity: .7;

    @media (min-width: $grid-sl) {
        margin-left: 0;
        margin-right: 70px;

        font: 600 24px/1.4 "Panton", sans-serif;
        letter-spacing: 0.3px;

        opacity: 1;
    }
}

.welcomeSlider__contacts {
    margin: 0 0 40px;

    order: -1;

    opacity: .8;
    letter-spacing: .18px;

    .fas {
        margin: 0 5px 0 0;
    }

    @media (min-width: $grid-sl) {
        display: flex;
        flex-wrap: wrap;

        margin: 0;

        order: 0;
    }
}

.welcomeSlider__address {
    display: block;
    margin-bottom: 5px;

    span {

        @media (min-width: $grid-sl) {
            margin: 0 5px;

            font-size: inherit;
        }
    }

    @media (min-width: $grid-sl) {
        display: inline;

        margin-right: 43px;
    }
}

.welcomeSlider__btn {
    display: none;

    @media (min-width: $grid-sl) {
        display: inline-block;
        padding: 13px 25px;

        position: absolute;
        top: -5px;
        right: 0;
    }
}

.welcomeSlider__sliderWrap {
    position: relative;
    z-index: 10;
}

.textSlider__slide {
    display: flex;
    flex-direction: column;

    padding: 200px 70px 70px 25px;

    background: url("../img/content/welcomeSlider__bgr-mobile.jpg") no-repeat top center;
    background-size: cover;

    &.slick-slide {
        @media (min-width: $grid-sl) {
            display: flex;
        }
    }

    @media (min-width: $grid-sl) {
        height: 100vh;
        min-height: 100vh;
        padding: 0 100px;

        justify-content: center;

        background: url("../img/content/welcomeSlider__bgr-desktop.jpg") no-repeat top center;
        background-size: cover;
    }
}

.textSlider__lead {
    font: 700 42px/1.1 "Panton", sans-serif;
    letter-spacing: 0.8px;

    @media (min-width: $grid-sl) {
        font: 700 52px/1.1 "Panton", sans-serif;
        letter-spacing: 1px;
    }
}

.textSlider__text {
    margin: 10px 0 32px 0;

    font: 600 16px/1.4 "Panton", sans-serif;
    letter-spacing: 0.2px;

    @media (min-width: $grid-sl) {
        max-width: 500px;
        margin: 15px 0 24px;

        font: 600 18px/1.4 "Panton", sans-serif;
    }
}

.textSlider__btnWrap {
    display: flex;
    flex-direction: column;

    width: 190px;

    text-align: center;

    @media (min-width: $grid-sl) {
        flex-direction: row;
        flex-wrap: wrap;

        width: auto;
    }
}

.textSlider__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    &-transparent {
        border: 1px solid $lightgrey;

        background-color: transparent;

        &:hover,
        &:active {
            background-color: rgba($lightgrey, .2);
        }
    }

    i {
        margin-left: 8px;

        font-size: 10px;
        line-height: inherit;
        vertical-align: middle;
    }

    @media (min-width: $grid-sl) {
        padding: {
            right: 35px;
            left: 35px;
        }

        &:not(:last-child) {
            margin-right: 16px;
            margin-bottom: 0;
        }
    }
}

.welcomeSlider__arrowsWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    right: 30px;
    top: 48%;

    @media (min-width: $grid-sl) {
        right: 80px;
    }
}

.welcomeSlider__arrow {
    width: 16px;
    height: 24px;
    border: none;

    position: relative;

    background-color: transparent;
    transition: .3s;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &:hover,
    &:active {
        opacity: .3;
    }

    &::before {
        content: "";
        display: block;
        
        width: 2px;
        height: 70%;
    
        position: absolute;
        top: -2px;
        left: 50%;
        transform: rotate(-45deg);

        background-color: $white;
    }

    &::after {
        content: "";
        display: block;
        
        width: 2px;
        height: 70%;
    
        position: absolute;
        top: 37%;
        left: 50%;
        transform: rotate(45deg);

        background-color: $white;
    }

    &-up {
        transform: rotate(-90deg);
    }

    &-down {
        transform: rotate(90deg);
    }

    &.slick-disabled {
        opacity: .3;
        cursor: default;
    }
}

.welcomeSlider__counter {
    width: 60px;
    padding-bottom: 20px;

    position: absolute;

    color: $white;

    &::after {
        content: "";

        height: 3px;

        position: absolute;
        right: 0;
        bottom: 0;
        left: 2px; 

        background-color: $white;
    }

    &-top {
        top: 90px;
        right: 0;

        font: 700 40px/1.2 "Panton", sans-serif;
        letter-spacing: 0.5px;
        
        @media (min-width: $grid-sl) {
            top: 180px;
        }
    }

    &-bottom {
        right: 0;
        bottom: 70px;

        font: 600 24px/1.2 "Panton", sans-serif;
        letter-spacing: 0.3px;

        opacity: .3;

        @media (min-width: $grid-sl) {
            bottom: 115px;
        }
    }

    &-hide {
        display: none;
    }

    @media (min-width: $grid-sl) {
        width: 100px;
    }
}

.welcomeSlider__anchorLink {
    width: 16px;
    height: 24px;

    display: none;

    position: absolute;
    bottom: 60px;
    left: 100px;
    z-index: 11;
    transform: rotate(90deg);

    font-size: 0;
    text-decoration: none;

    transition: .3s;

    &:hover,
    &:active {
        opacity: .3;
    }
    
    &::before {
        content: "";
        display: block;
        
        width: 2px;
        height: 70%;
    
        position: absolute;
        top: -2px;
        left: 50%;
        transform: rotate(-45deg);

        background-color: $white;
    }

    &::after {
        content: "";
        display: block;
        
        width: 2px;
        height: 70%;
    
        position: absolute;
        top: 37%;
        left: 50%;
        transform: rotate(45deg);

        background-color: $white;
    }

    @media (min-width: $grid-sl) {
        display: block;
    }
}