.welcomeSlider {
    padding: 32px 20px 47px 28px;

    position: relative;
    z-index: 10;

    font: 600 16px/1.4 "Panton", sans-serif;
    color: $white;
    letter-spacing: 0.2px;

    background: url("../img/content/welcomeSlider__bgr-mobile.jpg") no-repeat top center;
    background-size: cover;

    @media (min-width: $grid-sl) {
        background: url("../img/content/welcomeSlider__bgr-desktop.jpg") no-repeat top center;
        background-size: cover;
    }
}

.welcomeSlider__head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    font: 600 14px/1.8 "Panton", sans-serif;
}

.welcomeSlider__lead {
    font: 600 18px/1.4 "Panton", sans-serif;
    opacity: .7;
}

.welcomeSlider__contacts {
    margin: 0 0 46px;

    order: -1;

    opacity: .8;
    letter-spacing: .18px;

    .fas {
        margin: 0 5px 0 0;
    }

    @media (min-width: $grid-sl) {
        order: 0;
    }
}

.welcomeSlider__btn {
    display: none;

    @media (min-width: $grid-sl) {
        display: inline-block;
        padding: 13px 30px;
    }
}