section.welcomeSlider
    .welcomeSlider__head
        b.welcomeSlider__lead An artful business community
        p.welcomeSlider__contacts
            span.welcomeSlider__address <i class="fas fa-map-marker-alt"></i>3636 South Iron Street | Chicago IL 60609
            br
            span.welcomeSlider__tel <i class="fas fa-mobile-alt"></i> (312) 933-6556
        a.welcomeSlider__btn.btn(href="#") Join us
    .welcomeSlider__sliderWrap
        .welcomeSlider__textSlider.textSlider
            .textSlider__slide
                b.textSlider__lead Welcome to our Building!
                p.textSlider__text We foster a small Business-to-Business community that complements to each other
                .textSlider__btnWrap
                    a.textSlider__btn.btn Take a tour
                    a.textSlider__btn.textSlider__btn-transparent.btn Virtual tour
            .textSlider__slide
                b.textSlider__lead Welcome to our Building!
                p.textSlider__text We foster a small Business-to-Business community that complements to each other
                .textSlider__btnWrap
                    a.textSlider__btn.btn Take a tour
                    a.textSlider__btn.textSlider__btn-transparent.btn Virtual tour
            .textSlider__slide
                b.textSlider__lead Welcome to our Building!
                p.textSlider__text We foster a small Business-to-Business community that complements to each other
                .textSlider__btnWrap
                    a.textSlider__btn.btn Take a tour
                    a.textSlider__btn.textSlider__btn-transparent.btn Virtual tour
    a.welcomeSlider__anchorLink(href="#main")