.footerNav.footer__nav
    .footerNav__inner
        a.footerNav__logoLink(href="#")
            img.footerNav__logo(src="static/img/content/footer__logo.png", alt="")
        p.footerNav__socials.footerSoc
            a.footerSoc__link(href="#") <i class="fab fa-facebook-f"></i>facebook
            a.footerSoc__link(href="#") <i class="fab fa-instagram"></i>instagram
            a.footerSoc__link(href="#") <i class="fab fa-twitter"></i>twitter
            a.footerSoc__link(href="#") <i class="fab fa-linkedin-in"></i>linkedin
        ul.footerNav__navList
            li.footerNav__navItem
                a.footerNav__navLink(href="index.html")
                    | Home
            li.footerNav__navItem
                a.footerNav__navLink(href="#")
                    | The building
            li.footerNav__navItem
                a.footerNav__navLink(href="#")
                    | Friends of 362
            li.footerNav__navItem
                a.footerNav__navLink(href="#")
                    | Directions/Parking
            li.footerNav__navItem
                a.footerNav__navLink(href="#")
                    | Join us
            li.footerNav__navItem
                a.footerNav__navLink(href="contact.html")
                    | Contact us
            li.footerNav__navItem
                a.footerNav__navLink(href="blog.html")
                    | Blog
            li.footerNav__navItem
                a.footerNav__navLink(href="#")
                    | Resources
            li.footerNav__navItem
                a.footerNav__navLink(href="#")
                    | Event schedule