section.scheduleSection
    .scheduleSection__inner
        b.scheduleSection__lead
            | Schedule your appointment
        form.scheduleSection__form(action="", method="post")
            input.scheduleSection__input.input(type="email", placeholder="Enter your email")
            button.scheduleSection__button.link(type="submit")
                | schedule 
                span →
