section.videoPopupSection.videoPopupSection-jsHide
    .videoPopupSection__overlay
    .videoPopupSection__inner
        <iframe class="videoPopupSection__video" src="https://www.youtube.com/embed/4lmEqpgg3B4" frameborder="0" allow="encrypted-media;"></iframe>