.transportSection {
    font: 700 18px/1.5 "Panton", sans-serif;
    color: $darkgrey;
    letter-spacing: 0.2px;

    background-color: $lightgrey-2;
}

.transportSection__inner {
    padding: 40px 0 40px 30px;

    @media (min-width: $grid-sl) {
        padding: 80px 0 80px 100px
    }

    @media (min-width: $grid-ls) {
        max-width: 1440px;
        margin: 0 auto;
        padding: 80px 100px 60px;
    }
}

.transportSection__head {
    margin-bottom: 20px;

    @media (min-width: $grid-ls) {
        margin-bottom: 50px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
}

.transportSection__lead {
    margin: 0 0 0 -30px;

    @media (min-width: $grid-sl) {
        margin: 0 0 0 -100px;
    }
}

.transportSection__heading {
    margin: 20px 0 0;

    font: 700 32px/1.3 "Panton", sans-serif;

    @media (min-width: $grid-ls) {
        margin: 0;
    }
}

.transportSection__list {
    margin: 0;
    padding: 0;

    list-style: none;

    @media (min-width: $grid-ls) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.transportSection__item {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &:hover {
        .transpotrSection__link {

            @media (min-width: $grid-ls) {
                color: rgba($red, 1);
            }
        }
    }

    @media (min-width: $grid-ls) {
        width: 49%;
    }

    @media (min-width: $grid-lm) {
        width: 24%;
    }
}

.transportSection__imgWrap {
    max-height: 350px;

    overflow-y: hidden;

    @media (min-width: $grid-ls) {
        max-height: auto;
    }

    @media (min-width: $grid-lm) {
        max-width: 300px;
    }
}

.transportSection__img {
    width: 100%;

    @media (min-width: $grid-lm) {
        width: 300px;
    }
}

.transportSection__itemHeading {
    margin: 15px 0;
}

.transpotrSection__link {
    transition: .3s;
    
    @media (min-width: $grid-ls) {
        color: rgba($red, 0);
    }
}