section.partnersSection
    .partnersSection__inner
        h2.partnersSection__heading.sectionHeading
            | our partners
        ul.partnersSection__list
            li.partnersSection__item
                .partnersSection__itemImgWrap
                    img.partnersSection__itemImg(src="static/img/content/partnersSection__img-1.png", alt="")
                h3.partnersSection__itemHeading
                    | The Bagelers
                a.partnersSection__itemLink.link(href="#")
                    | visit website
                    span →
            li.partnersSection__item
                .partnersSection__itemImgWrap
                    img.partnersSection__itemImg(src="static/img/content/partnersSection__img-2.png", alt="")
                h3.partnersSection__itemHeading
                    | Husar Architecture
                a.partnersSection__itemLink.link(href="#")
                    | visit website
                    span →
            li.partnersSection__item
                .partnersSection__itemImgWrap
                    img.partnersSection__itemImg(src="static/img/content/partnersSection__img-3.png", alt="")
                h3.partnersSection__itemHeading
                    | Skill Scout
                a.partnersSection__itemLink.link(href="#")
                    | visit website
                    span →
            li.partnersSection__item
                .partnersSection__itemImgWrap
                    img.partnersSection__itemImg(src="static/img/content/partnersSection__img-4.png", alt="")
                h3.partnersSection__itemHeading
                    | Marcos RayaSkill Scout
                a.partnersSection__itemLink.link(href="#")
                    | visit website
                    span →
            li.partnersSection__item
                .partnersSection__itemImgWrap
                    img.partnersSection__itemImg(src="static/img/content/partnersSection__img-5.png", alt="")
                h3.partnersSection__itemHeading
                    | Crowdfind
                a.partnersSection__itemLink.link(href="#")
                    | visit website
                    span →
            li.partnersSection__item
                .partnersSection__itemImgWrap
                    img.partnersSection__itemImg(src="static/img/content/partnersSection__img-6.png", alt="")
                h3.partnersSection__itemHeading
                    | Sean Williams Pho..
                a.partnersSection__itemLink.link(href="#")
                    | visit website
                    span →
            li.partnersSection__item
                .partnersSection__itemImgWrap
                    img.partnersSection__itemImg(src="static/img/content/partnersSection__img-7.png", alt="")
                h3.partnersSection__itemHeading
                    | Chicago Pizza Tour
                a.partnersSection__itemLink.link(href="#")
                    | visit website
                    span →
            li.partnersSection__item
                .partnersSection__itemImgWrap.partnersSection__itemImgWrap-red
                    a.partnersSection__imgWrapLink.link(href="#")
                        | do I fit in?
                        span →
                b.partnersSection__itemLead
                    | You!