section.spacesSection
    .spacesSection__inner
        .spacesSection__head
            h2.spacesSection__heading.sectionHeading 
                | 36squared spaces
            b.spacesSection__lead
                | Get my
        ul.spacesSection__gal
            li.spacesSection__item
                h3.spacesSection__itemHeading
                    | Office Space
                a.spacesSection__itemLink(href="#")
                    | view 
                    span →
            li.spacesSection__item
                h3.spacesSection__itemHeading
                    | Workshops
                a.spacesSection__itemLink(href="#")
                    | view 
                    span →
            li.spacesSection__item
                h3.spacesSection__itemHeading
                    | Light Manufacturing
                a.spacesSection__itemLink(href="#")
                    | view 
                    span →
        .spacesSection__allWrap
            a.spacesSection__allLink.link(href="#")
                | view all spaces
                span →
                
                