section.availableSection
    .availableSection__inner
        .availableSection__head
            h2.availableSection__heading.sectionHeading
                | 36SQUARED SPACES
            b.availableSection__lead
                | What's available
        ul.availableSection__list
            li.availableSection__item
                .availableSection__imgWrap
                    img.availableSection__img(src="static/img/content/availableSection__img-1.jpg", alt="")
                .availableSection__textWrap
                    ul.availableSection__sizeList
                        li.availableSection__size
                            <i class="fas fa-ruler-combined"></i>
                            | 1000 sq. ft
                        li.availableSection__size
                            <i class="fas fa-level-up-alt"></i>
                            | 1-st floor
                        li.availableSection__size
                            <i class="fas fa-dollar-sign"></i>
                            | 18 sf per year
                    a.availableSection__itemLink.btn(href="#")
                        | view space
                        span →
            li.availableSection__item
                .availableSection__imgWrap
                    img.availableSection__img(src="static/img/content/availableSection__img-2.jpg", alt="")
                .availableSection__textWrap
                    ul.availableSection__sizeList
                        li.availableSection__size
                            <i class="fas fa-ruler-combined"></i>
                            | 11000 sq. ft
                        li.availableSection__size
                            <i class="fas fa-level-up-alt"></i>
                            | 1-st floor
                        li.availableSection__size
                            <i class="fas fa-dollar-sign"></i>
                            | 16 sf per year
                    a.availableSection__itemLink.btn(href="#")
                        | view space
                        span →
            li.availableSection__item
                .availableSection__imgWrap
                    img.availableSection__img(src="static/img/content/availableSection__img-3.jpg", alt="")
                .availableSection__textWrap
                    ul.availableSection__sizeList
                        li.availableSection__size
                            <i class="fas fa-ruler-combined"></i>
                            | 2000 sq. ft
                        li.availableSection__size
                            <i class="fas fa-level-up-alt"></i>
                            | 2-nd floor
                        li.availableSection__size
                            <i class="fas fa-dollar-sign"></i>
                            | 20 sf per year
                    a.availableSection__itemLink.btn(href="#")
                        | view space
                        span →
            li.availableSection__item
                .availableSection__imgWrap
                    img.availableSection__img(src="static/img/content/availableSection__img-4.jpg", alt="")
                .availableSection__textWrap
                    ul.availableSection__sizeList
                        li.availableSection__size
                            <i class="fas fa-ruler-combined"></i>
                            | 3500 sq. ft
                        li.availableSection__size
                            <i class="fas fa-level-up-alt"></i>
                            | 3-rd floor
                        li.availableSection__size
                            <i class="fas fa-dollar-sign"></i>
                            | 25 sf per year
                    a.availableSection__itemLink.btn(href="#")
                        | view space
                        span →
        a.availableSection__link.link(href="#")
            | view regulations
            span →                