section.squadGalSection
    .squadGalSection__inner
        .squadGalSection__head
            h2.squadGalSection__heading.sectionHeading
                | 36sq gallery
            .squadGalSection__textWrap
                b.squadGalSection__lead
                    | What it means to be a part of 36 Squared?
                p.squadGalSection__text
                    | We are entrepreneurs, dreamers, and doers.  We understand what it takes to build a business and grow a company. At 36Squared, we take pride in providing a supportive, respectful, and collegial community in which your business can flourish.
        ul.squadGalSection__list
            li.squadGalSection__item
                a.squadGalSection__link(href="static/img/content/squadGal__img-1.jpg", data-lightbox="squadGal", style="background: url('static/img/content/squadGal__img-1.jpg') no-repeat center center; background-size: cover;")
            li.squadGalSection__item
                a.squadGalSection__link(href="static/img/content/squadGal__img-2.jpg", data-lightbox="squadGal", style="background: url('static/img/content/squadGal__img-2.jpg') no-repeat center center; background-size: cover;")
            li.squadGalSection__item
                a.squadGalSection__link(href="static/img/content/squadGal__img-3.jpg", data-lightbox="squadGal", style="background: url('static/img/content/squadGal__img-3.jpg') no-repeat center center; background-size: cover;")
            li.squadGalSection__item.squadGalSection__item-double
                a.squadGalSection__link.squadGalSection__link-video(href="#", style="background: url('static/img/content/squadGal__img-4.jpg') no-repeat center center; background-size: cover;")
                    span
            li.squadGalSection__item
                a.squadGalSection__link(href="static/img/content/squadGal__img-5.jpg", data-lightbox="squadGal", style="background: url('static/img/content/squadGal__img-5.jpg') no-repeat center center; background-size: cover;")